:root{
    --main-color: #19c8fa;
    --secondary-color:#2c4755;
    --minColor: #280da3;
    --lastColor: #dbd8ed;
    --transparent-color: rgba(14, 79, 231, 0.7);
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
   direction: rtl;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-size: 14px;
    /* background: #ffffff; */
    /* background: linear-gradient(to left, #2b3983, #150565); */

}

.container{
    /* background: #fff; */
    width: 100%;
    /* padding: 25px;
    margin: 50px auto 0; */
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    position: relative; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   /* border-top: 5px solid blue;
   border-bottom: 5px solid blue; */
   /* box-shadow: 0 0 7px 5px rgba(148, 147, 147, 0.5); */
   
   
}
.form-container{
    
    width: 700px;
    padding: 25px;
    margin: 50px auto 0;
    position: absolute;
   right: 10%;
}

 .imguser{
    width: 80px;
    height: 80px;
   border-radius: 50px;
   position: relative;
   right: 38%;
}
@media (max-width: 1200px ){
    .form-container{
        position: absolute;
        right: 0;
    }

}

@media (max-width: 768px ){
    .form-container{
        width: 500px;
        position: relative;
    }

}
@media (max-width: 450px ){
    .form-container{
        position: relative;
        width: 400px;
    }

}
/* @media (min-width: 768px) {
    .container{
        width: 600px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
} */
.container h2{
    font-size: 24px;
    line-height: 24px;
    padding: 30px;
    text-align: center;
}
.input-name{
    width: 90%;
    position: relative;
    margin: 30px auto;
}
@media (max-width: 768px ){
    .input-name{
       
       margin: 15px auto;
    }
   
}
@media (max-width: 450px ){
    .input-name{
        
        margin: 10px auto;
    }

}

.lock{
    padding: 8px 11px;
}

.name{
    width: 45%;
    padding: 8px 50px 8px 0;
    border-radius: 20px;
}
.pic{
    width: 45%;
    padding: 8px 45px 8px 0;
    /* padding: 8px; */
    border-radius: 20px;
    position: relative;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    
   
}
.pic::-webkit-file-upload-button{
    display: none;
}
input[type="file"]{
    background-color: #192cfa;
   
}
@media (max-width: 768px ){
    .name{
        width: 90.5%;
       margin-top: 20px;
    }
    .pic{
        width: 90.5%;
       margin-top: 20px;
    }
    .mm{
        position: absolute;
        top: 20px;
    }
    .ma{
        position: absolute;
        top: 20px;
    }
    span .lock{
      position: absolute;
      top: 75px;
      right: 0;
    }
}
@media (max-width: 450px ){
    .name{
        width: 90.5%;
    }
    .pic{
        width: 90.5%;
    }
    

}
.name1{
    width: 90.5%;
    padding: 8px 50px 8px 0;
    border-radius: 20px;
}
.address{
    width: 90.5%;
    padding: 8px 50px 8px 0;
    border-radius: 20px;
}
.note{
    width: 60%;
    padding: 8px 50px 80px 0;
    border-radius: 20px;
}
.image{
    width: 30%;

    padding: 8px 50px 80px 0;
    border: 1px solid #8a8989;
    border-radius: 40%;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
.input-name .m{
    position: absolute;
    font-size: 18px;
    color: blue;
    border-left: 1px solid #cccccc;
    z-index: 100;
}
.input-name .ma{
    position: absolute;
    font-size: 18px;
    color: rgb(243, 243, 249);
    /* border-left: 1px solid #cccccc; */
    z-index: 100;
}

.note, .name , .name1 , .address , .pic,
.kind ,.servises {
    border: 1px solid #8a8989;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;

}
.note:hover, .name:hover ,.name1:hover,
.address:hover , 
.kind:hover ,.servises:hover, .image:hover {
    background-color: #e2e0e090;
}
.pic:hover{
    background-color: rgb(96, 7, 251);
}
.note:focus , .name:focus , .name1:focus,.image:focus,.pic:focus,
.address:focus ,.servises:focus ,.kind:focus {
    border: 1px solid blue;
}
.kind{
    direction: ltr;
    display: inline-block;
    width: 35.5%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    border-radius: 20px;
}
.servises{
    direction: ltr;
    display: inline-block;
    width: 33.5%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    border-radius: 20px;
}
@media (max-width: 768px ){
    .kind{
        width: 74.5%;
        margin: 10px;
       
    }
    .servises{
        width: 71.5%;
        margin: 10px;
    }
    span .toggle-icon {
        position: absolute;
        margin-left: -3%;
        margin-top: 9%;
        transform: translateY(-50%);
        cursor: pointer;
    }

}
@media (max-width: 450px ){
    .kind{
        width: 70%;
        margin: 10px;
    }
    .servises{
        width: 66%;
        margin: 10px;
    }
    span .toggle-icon {
        position: absolute;
        margin-left: -6%;
        margin-top: 11.5%;
        transform: translateY(-50%);
        cursor: pointer;
    }

}
.button{
    width: 90.5%;
    padding: 8px 50px 8px 0;
    border-radius: 20px;
    background-color: #1933fa;
    color: #fff;
    border: none;
}
.button:hover{
    background-color: rgb(96, 7, 251);
}
.login{
   /* color: #fff; */
   padding: 40px;
   font-size: 18px;
  
}
span .toggle-icon {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* ------------------------------------------------ */

section{
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #fcfcfc; */
    position: absolute;
    left: 10%;
    margin: 100px auto 0;
}
@media(max-width:1200px) and (min-width:1000px){
    section{
        position: absolute;
        /* top: 50%; */
        align-items: center;
        left: 5%;
    }
}
/* @media(max-width:1028px){
    section{
       position: absolute;
       left: 0;
    }
   
} */
@media(max-width:999px){
    section{
       position: absolute;
       top: 60%;
       left: 20%;
    }
    .container{
        width: 75%;
        position: absolute;
        left: 10%;
    }
   
}
@media(max-width:768px){
    section{
        position: absolute;
        top: 60%;
        align-items: center;
        left: 30%;
    }
    .container{
        width: 100%;
        position: absolute;
        left: 0;
    }
}
@media(max-width:469px){
    section{
        position: absolute;
        top: 60%;
        align-items: center;
        left: 20%;
    }
}
.box{
    position: relative;
    min-width: 350px;
    max-height: 400px;
    border-radius: 10px;
    background: #1933fa;
    padding: 20px;
    box-shadow: 0 35px 50px rgba(0, 0, 0,0.1);
    overflow: auto;
}
@media(max-width:768px){
    .box{
        min-width: 300px;
    }
}
/* .box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    background: #fff;
    overflow: hidden;

} */
.box h3{
    position: relative;
    color: rgb(244, 244, 247);
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}
.box .list{
   position: relative;
   display: flex;
   align-items: center;
   padding: 10px;
   margin: 10px 0;
   cursor: pointer;
   overflow: hidden;
}
.box .list::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(96, 7, 251);
    border-radius: 50px;
    transition: 0.5s ;
    transform: scaleX(0);
    transform-origin: right;
   
}
.box .list:hover::before{
    transition: transform 0.5s ;
    transform: scaleX(1);
    transform-origin: left;
}
.box .list .imgbox{
    position: relative;
    min-width: 70px;
    min-height: 70px;
    background: #fff;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0,0.1);
    margin-right: 20px;
    margin-left: 10px;
    
}
.box .list .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .list .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #e3f8ae;

}
.box .list .content .rank{
    position: absolute;
    right: 0;
    font-size: 20px;
    color: #fff;
    transform: scale(0);
    transition: 0.5s;

}
.box .list .content .rank small{
    font-weight: 500;
    opacity: 0.25;
}
.box .list:hover .content .rank{
    transform: scale(1);
}
.box .list .content h4{
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
    line-height: 1.2em;
}
.box .list .content p{
    opacity: 0.85;
    transition: 0.5s;
}
.box .list:hover .content h4,
.box .list:hover .content p{
    color: #fff;
}

